.sidebar {
  width: 250px;
  background-color: #f3f3f3;
  padding: 10px;
  height: 86vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.menu a,
.submenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 12px;
  cursor: default;
  color: #333;
}

.menu-item.clickable {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e1e1e1;
}

.submenu {
  list-style: none;
  padding-left: 25px;
  margin: 5px 0;
  border-left: 2px solid #ccc;
}

.submenu-item {
  padding: 8px 0;
  cursor: pointer;
  color: #555;
}

.submenu-item:hover {
  color: #000;
}

.submenu-item:hover a {
  color: #000;
}

.sidebar-footer {
  margin-top: auto;              /* Se va al fondo */
  padding-top: 20px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Botones */
.btn-export,
.btn-logout {
  padding: 10px;
  border: none;
  border-radius: 4px;
  text-align: left; 
  cursor: pointer;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* --- Botón Exportar (verde) --- */
.btn-export {
  background-color: #2D572C;
}

.btn-export:hover {
  background-color: #366A34;
}

/* --- Botón Cerrar Sesión (azul) --- */
.btn-logout {
  background-color: #274c77;
}

.btn-logout:hover {
  background-color: #3B6EA8;
}

/* Iconos dentro de los botones */
.btn-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
