.sidebar {
  width: 250px;
  background-color: #f3f3f3;
  padding: 10px;
  height: 86vh;
  box-sizing: border-box;
}

.menu a,
.submenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 12px;
  cursor: default;
  color: #333;
}

.menu-item.clickable {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e1e1e1;
}

.submenu {
  list-style: none;
  padding-left: 25px;
  margin: 5px 0;
  border-left: 2px solid #ccc;
}

.submenu-item {
  padding: 8px 0;
  cursor: pointer;
  color: #555;
}

.submenu-item:hover {
  color: #000;
}

.submenu-item:hover a {
  color: #000;
}